/******************* Colors *******************/

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e07a5f;
}

.footer-color {
  color: #e07a5f;
}

.display-4 {
  color: #e07a5f;
}

.main-color {
  background-color: #f4f1de;
}

.navbar-brand {
  color: #e07a5f !important;
}

.nav-link {
  color: #e07a5f !important;
}

.names {
  color: #e07a5f;
}

.names-info {
  color: #000000;
}

i:hover {
  color: #f4f1de;
}

.navbar-brand:hover {
  color: #f4f1de !important;
}

.nav-link:hover {
  color: #f4f1de !important;
}
#red-btn:hover {
  background-color: #666565 !important;
}

#red-btn1:hover {
  background-color: #666565 !important;
}

/******************* Alignment *******************/

.mt-5 {
  text-align: center;
}

.tacos1-img {
  height: 70%;
  width: 70%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

footer span {
  margin-left: 20px;
}

footer i {
  float: right;
  margin: 0;
}

.team-images {
  display: flex;
  justify-content: space-between;
}

.team-img-1,
.team-img-2 {
  flex: 1;
  height: 100%;
  width: 30%;
  margin: 20px 10px 30px;
}

.adjust {
  width: 55%;
  height: 55%;
}

.card-deck {
  margin-bottom: 30px !important;
}

.style {
  text-align: center !important;
  margin-top: 45px;
}

/******************* Styles *******************/

.page-title {
  font-size: 3rem;
  font-weight: bold;
}

.secondary-title {
  font-size: 2rem;
  font-weight: bold;
}

.names-info {
  font-size: 1rem;
}

.lead {
  font-size: 1rem;
  color: black;
}

#red-btn {
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: #e07a5f;
  color: #fafafa;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 300;
  align-items: center;
}

#red-btn1 {
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: #e07a5f;
  color: #fafafa;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 300;
  align-items: center;
}

button[type="submit"] {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #e07a5f;
  color: #fafafa;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 300;
  align-items: center;
}

.navbar-brand {
  font-size: 2rem !important;
  font-weight: bolder !important;
}

.form-label {
  color: #e07a5f;
  font-size: large;
  font-weight: bolder;
}

i {
  color: #e07a5f;
  width: 50px;
  height: 10px;
  font-size: 20px;
  padding-bottom: 40px;
}

.thank-you {
  text-align: center;
  font-size: larger;
  font-weight: bolder;
}
