/******************* Colors *******************/

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e07a5f;
}

.footer-color {
  color: #e07a5f;
}

.display-4 {
  color: #e07a5f;
}

.main-color {
  background-color: #f4f1de;
}

.navbar-brand {
  color: #e07a5f !important;
}

.nav-link {
  color: #e07a5f !important;
}

.names {
  color: #e07a5f;
}
/******************* Alignment *******************/

.mt-5 {
  text-align: center;
}

.tacos1-img {
  height: 70%;
  width: 70%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.team-images {
  display: flex;
  justify-content: space-between;
}

.team-img-1,
.team-img-2 {
  flex: 1;
  height: 100%;
  width: 30%;
  margin: 20px 10px 30px;
}

/******************* Styles *******************/

.page-title {
  font-size: 3rem;
  font-weight: bold;
}

.lead {
  font-size: 1rem;
  color: black;
}

a[type="button"] {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #e07a5f;
  color: #fafafa;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 300;
  align-items: center;
}
